//
// Mapbox item
//

.m-mapitem {
  overflow: hidden;
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px dashed palette(ui, 'alto');
  }
}





.m-mapitem--active {
  .m-mapitem__link,
  .m-mapitem__link:hover {
    background-color: lighten(palette(brand, 'yuma'), 27%);
  }
}







.m-mapitem__link {
  @include u-baseline(3, padding-top);
  @include u-baseline(3, padding-right);
  @include u-baseline(3, padding-bottom);
  @include u-baseline(10, padding-left);
  background-color: palette(ui, 'white');
  cursor: pointer;
  display: block;
  transition: $global-transition;

  &:hover {
    background-color: palette(ui, 'sand');
  }
}









.m-mapitem__title {
  @include font($font-base-l);
  margin: 0;
}

.fonts--loaded .m-mapitem__title {
  @include font-replace(display);
}


.m-mapitem__meta {
  @include font($font-options-xs-secondary);
  @include u-baseline(2, margin-bottom);
  color: palette(ui, 'tundora');
  font-style: italic;
}






.m-mapitem__footer {
  @include u-baseline(2, padding-top);
  @include font($font-base-xs);
  list-style: none;
  justify-content: space-between;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;

  @include breakpoint(medium) {
    @include flex;
  }

  li {
    display: block;

    &:not(:last-child) {
      @include u-baseline(2, margin-bottom);
    }

    @include breakpoint(medium) {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  a {
    @include u-link-border(active);
    display: inline-block;
    font-weight: bold;
    font-style: italic;
  }

}

.fonts--loaded .m-mapitem__footer {
  @include font-replace(display);
}




.m-mapitem__content {
  @include font($font-base-xxs);
  @include u-baseline(4, padding-left);
  @include u-baseline(1, padding-top);
  @include u-baseline(1, margin-bottom);
  position: relative;

  // temp
  &:before {
    @include u-baseline(1, top);
    background-repeat: no-repeat;
    background-size: rem-calc(24) rem-calc(24);
    // background-color: palette(brand, 'yuma');
    content: '';
    display: block;
    width: rem-calc(24);
    height: rem-calc(24);
    position: absolute;
    left: 0;

  }

  .c-icon {
    @include u-baseline(.5, top);
    @include u-baseline(3.5, width);
    @include u-baseline(3.5, height);
    color: palette(brand, 'yuma');
    position: absolute;
    left: 0;
    // top: 0;
  }
}

.fonts--loaded .m-mapitem__content {
  @include font-replace(display);
}



// .m-mapitem__content--bottle:before {
//   background-image: url(../svg/svg_icon-bottles.svg);
// }
//
// .m-mapitem__content--tap:before {
//   background-image: url(../svg/svg_icon-taps.svg);
// }











.m-mapitem__icon {
  @include u-baseline(5, width);
  @include u-baseline(5, height);
  @include u-baseline(3, left);
  @include u-baseline(3, top);
  @include u-baseline(.5, padding);
  // background-color: palette(ui, 'boulder');
  background-color: palette(ui, 'mercury');
  border-radius: 50%;
  // color: palette(ui, 'white');
  color: palette(ui, 'tundora');
  position: absolute;

  .c-icon {
    width: 100%;
    height: 100%;
  }
}
