//
// Chillout template
//



/** ***********
 * Base styles
 */
.t-chillout {
  @include xy-grid-container;
  @include xy-grid;
  @include u-baseline(3, padding-top);

  @include breakpoint(large) {
    @include u-baseline(8, padding-top);
  }
}








/** ***********
 * Header
 */
.t-chillout__header {
  @include xy-cell;
  @include u-baseline(3, margin-bottom);
  order: 2;

  @include breakpoint(medium) {
    @include xy-cell(5 of 12);
    order: 1;
  }

  .c-headline {
    @include breakpoint(medium) {
      @include u-baseline(2, padding-right);
    }
  }
}









/** ***********
 * Embed
 */
.t-chillout__image {
  @include xy-cell;
  @include u-baseline(5, margin-bottom);
  order: 1;

  @include breakpoint(medium) {
    @include xy-cell(7 of 12);
    order: 2;
  }

  iframe {
    border-radius: 30px;
    min-height: rem-calc(600);
    width: 100%;
  }
}








/** ***********
 * Body
 */
.t-chillout__body {
  @include xy-cell;
  @include u-baseline(4, padding-top);
  order: 3;

  @include breakpoint($chillout-breakpoint) {
    @include xy-cell(7);
    @include xy-cell-offset(5);
  }

  iframe {
    min-height: rem-calc(600);
    width: 100%;
  }
}
