//
// Map list
//

.o-maplist {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 50vh;
  position: relative;
  // height: calc(100% - #{rem-calc($global-baseline * 6)});
  // height: 100%;

  @include breakpoint(large) {
    height: 100%;
  }
}
